In [27]:
import pandas as pd
import pickle

In [28]:
#pkl_file = '/mnt/felipe/semantic-aware-contextualized-topic-models/baseline_comparison/results/5_dimensions_UMAP/topicx_20news_NTM_10_ntopics_[25, 50, 75, 100, 150]_embedding_all-mpnet-base-v2.pkl'
pkl_file = '/mnt/felipe/semantic-aware-contextualized-topic-models/baseline_comparison/results/5_dimensions_UMAP/topicx_dbpedia_NTM_10_ntopics_[25, 50, 75, 100, 150]_embedding_all-mpnet-base-v2.pkl'
#pkl_file = '/mnt/felipe/semantic-aware-contextualized-topic-models/baseline_comparison/results/5_dimensions_UMAP/topicx_google_news_NTM_10_ntopics_[25, 50, 75, 100, 150]_embedding_all-mpnet-base-v2.pkl' 
with open(pkl_file, 'rb') as f:
    results = pickle.load(f)

In [29]:
pd.DataFrame(results).groupby('num_topics').mean()

            npmi_score  we_score  irbo_score  td_score
num_topics
25            0.184833  0.205439    0.972140  0.782800
50            0.186433  0.221784    0.979674  0.760000
75            0.170876  0.219641    0.983762  0.721733
100           0.159552  0.215779    0.985188  0.678800
150           0.147068  0.206621    0.985913  0.593533

In [30]:
print(pd.DataFrame(results).mean())

npmi_score     0.169752
we_score       0.213853
irbo_score     0.981335
td_score       0.707373
num_topics    80.000000
dtype: float64

In [31]:
pd.DataFrame(results).describe()

       npmi_score   we_score  irbo_score   td_score  num_topics
count   50.000000  50.000000   50.000000  50.000000   50.000000
mean     0.169752   0.213853    0.981335   0.707373   80.000000
std      0.016662   0.007998    0.005337   0.068467   43.448304
min      0.143217   0.193515    0.965912   0.583333   25.000000
25%      0.155895   0.208964    0.978909   0.673250   50.000000
50%      0.170532   0.213600    0.983416   0.722000   75.000000
75%      0.180367   0.219917    0.985308   0.763500  100.000000
max      0.207419   0.226746    0.986823   0.808000  150.000000